{% extends 'base_bootstrap.html' %}

{% block content %}
    <h1>Breeds list</h1>
    {% if breed_list %}
        {% for breed in breed_list %}
            <li>
                {{breed.name}} (
                    <a href="{% url 'cats:breed_update' breed.id %}">Update</a> | 
                    <a href="{% url 'cats:breed_delete' breed.id %}">Delete</a>
                )
            </li>
        {% endfor %}
    {% else %}
            <p>There are no breeds in the library</p>
    {% endif %}

    <p>
        <a href="{% url 'cats:all' %}">Back to cats</a>
    </p>
{% endblock %}